/* VIDEO DE FONDO */
#videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

/* CONTENEDOR CENTRAL */
.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background: rgba(0, 0, 0, 0.55);
    border: 2px solid #00e5ff;
    border-radius: 25px;
    padding: 40px 60px;
    backdrop-filter: blur(15px);

    animation: aparecer 0.8s ease-out;
}

/* ANIMACIÓN */
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* TÍTULOS */
.titulo {
    font-family: 'Roboto', cursive;
    font-size: 45px;
    color: #00e5ff;
    margin: 0;
    text-shadow: 0 0 10px #00e5ff;
}

.hero-container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* BOTÓN */
.btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: #00e5ff;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #00bcd4;
    transform: scale(1.08);
}
